RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-_a-zA-Z0-9]+)/?/?([-_a-zA-Z0-9]+)?/?/?([-_a-zA-Z0-9]+)?/?/?([-_a-zA-Z0-9]+)?/?/?$ index.php?view=$1 [QSA]
